1. Write a program to reverse a string.

In [1]:
str1=input("Enter a string: ") # take input as string
rev_str1=str1[::-1] # reverse the string
print("Reverse string is:",rev_str1) # print the reverse string

Enter a string:  students

Reverse string is: stneduts

2. Check if a string is a palindrome.

In [3]:
str2=input("Enter a string:") # take input as string
rev_str2=str2[::-1] 
if str2==rev_str2: # checking the string is palindrome or not
    print("The string is palindrome")
else:
    print("The string isn't palindrome")

Enter a string: level

The string is palindrome

3. Convert a string to uppercase.

In [4]:
str3=input("Enter a string:") # take input as string
upper_str3=str3.upper() # converting the string to upper case
print("uppercase string is:",upper_str3) # printing the converted upper case string

Enter a string: i m a student

upper string is: I M A STUDENT

4. Convert a string to lowercase.

In [1]:
str4=input("Enter a string:")# take input as string
lower_str4=str4.lower()  # converting the string to lower case
print("Lower case string is:",lower_str4) # printing the converted lower case string

Enter a string: stde

Lower case string is: stde

5. Count the number of vowels in a string.

In [4]:
str5=input("Enter a string:") # take input as string
vowel_count=str5.count('a')+str5.count('e')+str5.count('i')+str5.count('o')+str5.count('u') # count the number of vowels
print("The number of vowels in a string is",vowel_count) # print the number of vowels

Enter a string: i m a student

The number of vowels in a string is 4

In [15]:
def vowel_count(string): # take string as input 
    count=0 # initialize a variable for vowel count
    for char in string:
        if char=='a'or char=='e' or char=='i' or char=='o' or char=='u':
            count+=1
    return count # print the number of vowel

In [10]:
vowel_count("i m a student")

4

6. Count the number of consonants in a string.

In [32]:
def consonant_count(string): # take string as input 
    count=0 
    lower_str=str.lower(string)
    for char in lower_str:
        if char=='a'or char=='e' or char=='i' or char=='o' or char=='u':
            count+=1
            conso_count= len(string)-count
    return conso_count # printing the number of consonant

In [33]:
consonant_count("i m a student")

9

In [34]:
consonant_count("I M A student")

9

7. Remove all whitespaces from a string.

In [36]:
str7 = input("Enter a string") # take input as a string
mod_str=str7.replace(" ","") # removing all the spaces
print("After removing all the space from the string:",mod_str)# print the modiefied string withut spaces.

Enter a string hey good morning

After removing all the space from the string: heygoodmorning

8. Find the length of a string without using the `len()` function.

In [3]:
str8 = input("Enter a string:") # take input as a string
count=0 #initialize varible to find the length of a string
for char in str8:
    count+=1
print("Length of the string:",count) #printing the length of a string

Enter a string: hey good morning

Length of the string: 16

9. Check if a string contains a specific word.

In [7]:
str9 = input("Enter a string:") # take input as a string
specific_word= input("Enter the specific word ypu want to check for:") #input the specific word
if specific_word in str9: # check the string contains the specific word or not
    print("The string contains",specific_word)
else:
    print("This string doesn't contain",specific_word)

Enter a string: Hey morning
Enter the specific word ypu want to check for: bad

This string doesn't contain bad

10. Replace a word in a string with another word.

In [1]:
str10 = input("Enter a string:") # take input as a string
replacable_word = input("Enter the word , you want to replace:")
new_word = input("Enter the new word:")
new_str=str10.replace(replacable_word,new_word) # replacing the word with another word
print("The modified string is:",new_str) # printing the modified string

Enter a string: hey good morning
Enter the word , you want to replace: good
Enter the new word: bad

The modified string is: hey bad morning

11. Count the occurrences of a word in a string.

In [6]:
str11 = input("Enter a string:") # take input as a string
occ_word= input("Enter the word whose occurrences you want to count:")
words=str11.split() #split the strings into words 
count=0 #initialize variable to count word
for word in words:
    if word==occ_word:
        count+=1
    
print("The occurrences of",word, "in a string is:", count)

Enter a string: he is a very very good student
Enter the word whose occurrences you want to count: very

The occurrences of student in a string is: 2

12. Find the first occurrence of a word in a string.

In [13]:
str12 = input("Enter a string:") 
word= input("Enter the word:")
ind=str12.find(word)
if ind==-1:
    print("The word doesn't exists")
else:
    print("Index of the first occurrence:",ind)

Enter a string: hey good morning
Enter the word: a

The word doesn't exists

13. Find the last occurrence of a word in a string.

In [17]:
str13 = input("Enter a string:") 
word= input("Enter the word:")
ind=str12.rfind(word)
if ind==-1:
    print("The word doesn't exists")
else:
    print("Index of the last occurrence:",ind)

Enter a string: The string doesn't contain any other string
Enter the word: string

Index of the last occurrence: 37

14. Split a string into a list of words.

In [20]:
str14 = input("Enter a string:") 
words = str14.split()
print("List of words are:",words)

Enter a string: Hey good morning

List of words are: ['Hey', 'good', 'morning']

15. Join a list of words into a string.

In [3]:
l1 = [] # taking input as a list
n = int(input("Enter number of elements : "))
for i in range(0, n):
    ele = input("Enter the words of a list:")
    l1.append(ele) 
print("The list of words are",l1)    
str15=" ".join(l1)  # joining the words of a list into a string 
print("Joined string is:",str15)

Enter number of elements :  4
Enter the words of a list: hy
Enter the words of a list: how
Enter the words of a list: are
Enter the words of a list: you

The list of words are ['hy', 'how ', 'are ', 'you']
Joined string is: hy how  are  you

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [4]:
str16=input("Enter a string:") # take input as a string
new_str16=str16.replace(' ','_') # replace space with underscore
print("The modified string is:",new_str16) # print the modiefies string

Enter a string: Hey Good Morning

The modified string is: Hey_Good_Morning

17. Check if a string starts with a specific word or phrase.

In [8]:
str17,ph=input("Enter a string:"),input("Enter the phrase")  
if str17.startswith(ph): # check the string starts with the phrase or not
    print("The text starts with the phrase")
else:
    print("The text doesn't start with the phrase")

Enter a string: hey good morning
Enter the phrase good

The text doesn't start with the phrase

18. Check if a string ends with a specific word or phrase.

In [10]:
str18,ph=input("Enter a string:"),input("Enter the phrase")  
if str18.endswith(ph): # check the string starts with the phrase or not
    print("The text ends with the phrase")
else:
    print("The text doesn't end with the phrase")

Enter a string: hey good morning
Enter the phrase morning

The text ends with the phrase

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [13]:
str19=input("Enter a string:")
print("The title case string is: ", str19.title())

Enter a string: hello world

The title case string is:  Hello World

20. Find the longest word in a string.

In [17]:
str20=input("Enter a string:")
words=str20.split()
max_len=0
for word in words:
    if len(word)>max_len:
        max_len=len(word)
        long_word=word
print("The longest word is:", long_word)

Enter a string: hey good morning

The longest word is: morning

21. Find the shortest word in a string.

In [21]:
str21=input("Enter a string:")
words=str21.split()
min_len=100
for word in words:
    if len(word)<min_len:
        min_len=len(word)
        short_word=word
print("The shortest word is:", short_word)

Enter a string: hey good morning

The shortest word is: hey

22. Reverse the order of words in a string.

In [118]:
str22=input("Enter a string:")
l2=str22.split()
str22_rev=l2[::-1]
print(f"The reversed order is:{' '.join(str22_rev)}")

Enter a string: hey have a nice day

The reversed order is:day nice a have hey

23. Check if a string is alphanumeric.

In [38]:
str23=input("Enter the string:")
if str23.isalnum :
    print("The string is alphanumeric")
else:
    print("The string isn't alphanumeric")

Enter the string: Hey morning

The string is alphanumeric

24. Extract all digits from a string.

In [40]:
str24=input("Enter the string:")
d=''
for i in str24:
    if i.isdigit():
        d+=i
        
print("The extracted digits are:",d)

Enter the string: hey7894

The extracted digits are: 7894

25. Extract all alphabets from a string.

In [41]:
str25=input("Enter the string:")
alpha=''
for i in str25:
    if i.isalpha():
        alpha+=i
        
print("The extracted alphabets are:",alpha)

Enter the string: hey4541good7741

The extracted alphabets are: heygood

26. Count the number of uppercase letters in a string.

In [3]:
str26=input("Enter the string:")
sum=0
for char in str26:
    if char.isupper():
        sum+=1
    
print("The number of uppercase",sum)

Enter the string: Hey MorninG

The number of uppercase 3

27. Count the number of lowercase letters in a string.

In [1]:
str27=input("Enter the string:")
sum=0
for char in str26:
    if char.islower():
        sum+=1
    
print("The number of uppercase",sum)

Enter the string: Hey

The number of uppercase 2

28. Swap the case of each character in a string.

In [1]:
str28=input("Enter the string:")
swap_case=str28.swapcase()
print("After swapping the case of each character:",swap_case)

Enter the string: HeY MorninG

After swapping the case of each character: hEy mORNINg

29. Remove a specific word from a string.

In [4]:
str29=input("Enter the string:")
word=input("enter the specific word you wanna remove:")
rem_word=str28.replace(word,"")
print("The string is:",rem_word)

Enter the string: Hey morning.How r u?
enter the specific word you wanna remove: r

The string is: Hey moning.How  u?

30. Check if a string is a valid email address.

In [8]:
import re
str30=input("Enter the string:")
pattern= r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$' 
if re.match(pattern,str30):
    print( "This is a valid email address")
else:
    print( "This is not a valid email address")

Enter the string: gdcb736@g6.com

This is a valid email address

31. Extract the username from an email address string.

In [10]:
str31=input("Enter the string:")
print("The username is:",str31.split('@')[0])

Enter the string: subh@gmail.com

The username is: subh

32. Extract the domain name from an email address string.

In [11]:
str32=input("Enter the string:")
print("The username is:",str32.split('@')[1])

Enter the string: subh@gmail.com

The username is: gmail.com

33. Replace multiple spaces in a string with a single space.

In [19]:
str33=input("Enter the string:")
sp=str33.split() # split the string 
repl_str=' '.join(sp) # join by a single space
print("The replaced string is:",repl_str)

Enter the string: i      am    a good   student

The replaced string is: i am a good student

34. Check if a string is a valid URL.

In [2]:
import re
str34=input("Enter the string:")
pattern = r'^(http|https):\/\/([\w.-]+)(\.[\w.-]+)+([\/\w\.-]*)*\/?$'
if re.match(pattern,str34):
    print("It's a valid URL")
else:
    print("It's not a valid URL")

Enter the string: http://www.example.com/index.html

It's a valid URL

35. Extract the protocol (http or https) from a URL string.

In [1]:
str35=input("Enter the string:")
print("The username is:",str35.split('://')[0])

Enter the string: http://www.example.com/index.html

The username is: http

36. Find the frequency of each character in a string.

In [2]:
str36=input("Enter the string:")
freq={}
for i in str36:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
    
print("frequency of each character in", str36, "is given below.")
for i in freq.keys():
    print(" The frequncy of",i,"is:",freq[i])

Enter the string: hey morning

frequency of each character in hey morning is given below.
 The frequncy of h is: 1
 The frequncy of e is: 1
 The frequncy of y is: 1
 The frequncy of   is: 1
 The frequncy of m is: 1
 The frequncy of o is: 1
 The frequncy of r is: 1
 The frequncy of n is: 2
 The frequncy of i is: 1
 The frequncy of g is: 1

37. Remove all punctuation from a string.

In [4]:
import string
str37=input("Enter the string:")
str37 = str37.translate(str.maketrans('', '', string.punctuation))
print("The removes string is:",str37)

Enter the string: hey, good morning! How are you?

The removes string is: hey good morning How are you

38. Check if a string contains only digits.

In [7]:
str38=input("Enter the string:")
if str38.isdigit()==True:
    print("The string conatins only digits")
else:
    print("The string doesn't contain only digits")

Enter the string: 520

The string conatins only digits

39. Check if a string contains only alphabets.

In [11]:
str39=input("Enter the string:")
if str39.isalpha()==True:
    print("The string conatins only alphabets")
else:
    print("The string doesn't contain only alphabets")

Enter the string: hey56

The string doesn't contain only alphabets

40. Convert a string to a list of characters.

In [4]:
str40=input("Enter the string:")
ls40=list(str40)
print("The list of characters is:",ls40)

Enter the string: hey morning

The list of characters is: ['h', 'e', 'y', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g']

41. Check if two strings are anagrams.

In [7]:
str41a=input("Enter the string:")
str41b=input("Enter the string:")
if(sorted(str41a)== sorted(str41b)):
    print("The strings are anagrams.") 
else:
    print("The strings aren't anagrams.")

Enter the string: listen
Enter the string: silent

The strings are anagrams.

42. Encode a string using a Caesar cipher.

In [39]:
def caesar_cipher(str42,s):
    result=""
    for i in str42:
        if i==" ":
            result+=" "
        elif i.isupper():
            result += chr((ord(i) + s - 65) % 26 + 65)  
        else :
            result += chr((ord(i) + s - 97) % 26 + 97)
    return result

In [40]:
caesar_cipher("Hey morning",3)

'Khb pruqlqj'

43. Decode a Caesar cipher encoded string.

In [46]:
def caesar_cipher_decoder(str43,s):
    result=""
    for i in str43:
        if i==" ":
            result+=" "
        elif i.isupper():
            result += chr((ord(i) - s - 65) % 26 + 65)  
        else :
            result += chr((ord(i) - s - 97) % 26 + 97)
    return result

In [47]:
caesar_cipher_decoder('Khb pruqlqj',3)

'Hey morning'

44. Find the most frequent word in a string

In [20]:
str44=input("Enter the string:")
count={}
ls44=str44.split(' ')
for word in ls44:
    if word in count:
        count[word]+=1
    else:
        count[word]=1
    count_x=sorted(count.items(), key=lambda w:w[1])
    
print("The most frequent word in a string:",count_x[-1])

Enter the string: i felt happy because i saw the others were happy and because i knew i should feel happy but i wasn't really happy

The most frequent word in a string: ('i', 5)

45. Find all unique words in a string.

In [19]:
str45=input("Enter the string:")
count={}
count_y=[]
ls45=str45.split(' ')
for word in ls45:
    if word in count:
        count[word]+=1
    else:
        count[word]=1
print(count)
for word in count.keys():
    if count[word]==1:
        count_y.append(word)
print("The unique words in a string is:",count_y)

Enter the string: i felt happy because i saw the others were happy and because i knew i should feel happy but i wasn't really happy

{'i': 5, 'felt': 1, 'happy': 4, 'because': 2, 'saw': 1, 'the': 1, 'others': 1, 'were': 1, 'and': 1, 'knew': 1, 'should': 1, 'feel': 1, 'but': 1, "wasn't": 1, 'really': 1}
The unique words in a string is: ['felt', 'saw', 'the', 'others', 'were', 'and', 'knew', 'should', 'feel', 'but', "wasn't", 'really']

46. Count the number of syllables in a string.

In [31]:
str46=input("Enter the string:")
str46=str46.lower()
count = 0
vowels = "aeiouy"
for i in range(0,len(str46)):
    if str46[i] in vowels:
        count += 1
    
print("The number of syllable is:",count)

Enter the string: syllanle

The number of syllable is: 3

47. Check if a string contains any special characters.

In [3]:
def check_special(str47):
    for i in str47:
        if i.isalpha()==True or i.isdigit()==True or i == ' ' :
            return False
        return False
str47=input("Enter the word")
if check_special(str47):
    print("The string doesn't contain special character")
else:
    print("The string contains special character")

Enter the word Hey@good morning

The string contains special character

48. Remove the nth word from a string.

In [6]:
str48=input("Enter the string:")
n=int(input("Enter the index number for which word is removed:"))
ls48=str48.split()
if n>=1 and n<=len(ls48):
    new=ls48.pop(n-1)
str48_new=' '.join(ls48)
print("After removing nth word from a string, the new string is:",str48_new )
print("The removed word is:",new)

Enter the string: hey have a very nice day
Enter the index number for which word is removed: 4

After removing nth word from a string, the new string is: hey have a nice day
The removed word is: very

49. Insert a word at the nth position in a string.

In [129]:
str49=input("Enter the string:")
n1=int(input("Enter the index number in which word is inserted:"))
word=input("Enter the word you want to insert:")
ls49=str49.split()
ls49.insert(n1,word)
print(f"The inserted string is: {' '.join(ls49)}")

Enter the string: hey a nice day
Enter the index number in which word is inserted: 1
Enter the word you want to insert: have

The inserted string is: hey have a nice day

50. Convert a CSV string to a list of lists.

In [135]:
csv= "Name,department,birthday_month\nJohn Smith,HR,July\nAlice Johnson,IT,October\nBob Williams,Finance,January"
ls=csv.split('\n')
ls_ls=[]
for i in ls:
    ls_ls.append(i.split(','))
    
#print(f'The list of lists are:, {ls_ls}')
for i in ls_ls:
    print(i)

['Name', 'department', 'birthday_month']
['John Smith', 'HR', 'July']
['Alice Johnson', 'IT', 'October']
['Bob Williams', 'Finance', 'January']

### List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [2]:
l1=[]
for i in range(1,11):
    l1.append(i)
    
print("The list is:",l1)

The list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [5]:
l2=input("Enter the list")
count=0
print(list(l2))
for i in list(l2):
    count+=1
    
print("The length of a list:",count)

Enter the list 12345

['1', '2', '3', '4', '5']
The length of a list: 5

3. Append an element to the end of a list.

In [9]:
def list_append(l3):
    el=input("Enter an element")
    l3.append(el)
    print("The modifiec list is:",l3)

In [10]:
list_append([1,2,"li"])

Enter an element "o"

The modifiec list is: [1, 2, 'li', '"o"']

4. Insert an element at a specific index in a list.

In [8]:
def insert_ele(l4):
    el=input("Enter an element")
    n=int(input("Enter the index number "))
    l4.insert(n-1,el)
    print("The modifiec list is:",l4)
    
    
l4=['apple','banana','grapes']
insert_ele(l4)

Enter an element 'orange'
Enter the index number  1

The modifiec list is: ["'orange'", 'apple', 'banana', 'grapes']

5. Remove an element from a list by its value.

In [9]:
def re_element(l5):
    w=input("Enter the element you wanna remove:")
    l5.remove(w)
    print("The modified list is:",l5)

In [11]:
l5=['a','b','c','d','e']
re_element(l5)

Enter the element you wanna remove: d

The modified list is: ['a', 'b', 'c', 'e']

6. Remove an element from a list by its index.

In [14]:
def re_element(l6):
    w=int(input("Enter the index whose value you wanna remove:"))
    l6.pop(w-1)
    print("The modified list is:",l6)
    
l6=['a','b','c','d','e','f','g','h']
re_element(l6)

Enter the index whose value you wanna remove: 1

The modified list is: ['b', 'c', 'd', 'e', 'f', 'g', 'h']

7. Check if an element exists in a list.

In [24]:
l7=['a','b','c','d','e','f','g','h']
word=input("Enter the element:")
for i in range(len(l7)):
    if l7[i]==word:
        print("The element",word,"exists in the list")

Enter the element: f

The element f exists in the list

8. Find the index of the first occurrence of an element

In [27]:
l8=['a','b','c','d','e','f','g','h']
word=input("Enter the element:")
print("The index of the element", word, "is",l8.index(word))

Enter the element: f

The index of the element f is 5

9. Count the occurrences of an element in a list.

In [29]:
l9=['a','b','c','d','e','f','a','b','b','c','c','c']
word=input("Enter the element:")
print("The occurences of an element:",l9.count(word))

Enter the element: c

The occurences of an element: 4

10. Reverse the order of elements in a list.

In [32]:
l10=['a','b','c','d','e','f','g','h']
l10.reverse()
print("After reversing the order of elements, the list is:",l10)

After reversing the order of elements, the list is: ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

11. Sort a list in ascending order.

In [35]:
l11=[1,7,8,9,4,5,6,2,4]    
l11.sort()
print("The listin ascending order:",l11)

[1, 2, 4, 4, 5, 6, 7, 8, 9]

12. Sort a list in descending order.

In [36]:
l12=[1,7,8,9,4,5,6,2,4,12,24,54]    
l12.sort(reverse=True)
print("The listin ascending order:",l12)

The listin ascending order: [54, 24, 12, 9, 8, 7, 6, 5, 4, 4, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [4]:
l13=[]
for i in range(1,21):
    if i%2==0:
        l13.append(i)
        
print("The list of even numbers is:",l13)

The list of even numbers is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [7]:
l14=[]
for i in range(1,20):
    if i%2!=0:
        l14.append(i)
        
print("The list of odd numbers is:",l14)

The list of odd numbers is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15.  Find the sum of all elements in a list.

In [25]:
l15=[1,2,3,4,5,6,7,8,9,10]
sum15=0
for i in l15:
    sum15+=i
print("The sum of the list is:",sum15)

The sum of the list is: 55

16. Find the maximum value in a list.

In [28]:
l16=[100,22,3,4,5,6,7,8,9,10]
max_l16=max(l16)
print("The maximum value of the list is:",max_l16)

The maximum value of the list is: 100

17. Find the minimum value in a list.

In [30]:
l17=[100,22,32,17,48,9,10]
min_l17=min(l17)
print("The minimum value of the list is:",min_l17)

The minimum value of the list is: 9

18. Create a list of squares of numbers from 1 to 10.

In [34]:
l18=[]
for i in range(1,11):
    l18.append(i**2)
        
print("List of squares is:",l18)

List of squares is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [37]:
import random
l19=[]
for i in range(10):
    l19.append(random.randint(1,100))
    
print("The list of random numbers:",l19)

The list of random numbers: [71, 97, 56, 32, 50, 10, 4, 42, 8, 15]

20. Remove duplicates from a list.

In [38]:
l20=[1,2,4,1,21,4,2,1,2,1,21,2,1,2,17,8,4,4,63,7,81,47]
remove_l20=list(set(l20))
print("After removing duplicates the list is:",remove_l20)

After removing duplicates the list is: [1, 2, 4, 7, 8, 47, 17, 81, 21, 63]

21. Find the common elements between two lists.

In [43]:
l20a=[1,2,3,4,5]
l20b=[1,2,4,6]
l20c=[]
for i in l20a:
    for j in l20b:
        if i==j:
            l20c.append(i)

print("The common elements between two lists:",l20c)

The common elements between two lists: [1, 2, 4]

22. Find the difference between two lists.

In [46]:
l22a=[1,2,3,4,5]
l22b=[3,4,5,6,7]
diff=list(set(l22a).difference(l22b))
print("The difference between two lists:",diff)

The difference between two lists: [1, 2]

23. Merge two lists.

In [47]:
l23a=[1,2,3,4,5]
l23b=[3,4,5,6,7]
print("The merged list is:",l23a+l23b)

The merged list is: [1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

24. Multiply all elements in a list by 2.

In [52]:
l24=[11,12,13,14,15]
l24_mul=[]
for i in l24:
    l24_mul.append(2*i)
print("The multiplied list is:",l24_mul)

The multiplied list is: [22, 24, 26, 28, 30]

25. Filter out all even numbers from a list.

In [64]:
l25=[2,14,47,51,84,35,64]
l25_even=[]
for i in l25:
    if i%2==0:
        l25_even.append(i)
        
print("All even numbers from a list:",l25_even)

All even numbers from a list: [2, 14, 84, 64]

In [63]:
l25=[2,14,47,51,84,35,64]
even_l25=[x for x in l25 if x%2==0]
print("All even numbers from a list:",even_l25)

All even numbers from a list: [2, 14, 84, 64]

26. Convert a list of strings to a list of integers.

In [65]:
l26=['1','2','3','4']
l26_int=[int(i) for i in l26]
print("The converted list of integers is:",l26_int)

The converted list of integers is: [1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [66]:
l27=[11,12,13,14,15]
l27_str=[str(i) for i in l27]
print("The list of strings is:",l27_str)

The list of strings is: ['11', '12', '13', '14', '15']

28. Flatten a nested list.

In [68]:
l28=[[1,2],[9],[3,4,8],[5,5,8]]
l28_flatten=[i for sublist in l28 for i in sublist]
print("The flattened list is:",l28_flatten)

The flattened list is: [1, 2, 9, 3, 4, 8, 5, 5, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [75]:
l29=[0,1]
for i in range(2,10):
    l29.append(l29[i-1]+l29[i-2])
    
print("The first 10 Fibonacci numbers are:",l29)

The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [2]:
l30=[2,1,5,8,6,4]
l30c=l30[:]
l30.sort()
if l30c==l30:
    print("The list is sorted")
else:
    print("The list isn't sorted")

The list isn't sorted

31. Rotate a list to the left by `n` positions.

In [1]:
l31=[1,2,3,4,5,6]
n=int(input("Enter the 'n':"))
if n>len(l31):
    n=n%len(l31)
rotate_left=l31[n:]+l31[:n]
print("The rotated list is:",rotate_left)

Enter the 'n': 2

The rotated list is: [3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by n positions.

In [3]:
l31=[1,2,3,4,5,6]
n=int(input("Enter the 'n':"))
if n>len(l31):
    n=n%len(l31)
rotate_right=l31[-n:]+l31[:-n]
print("The rotated list is:",rotate_right)

Enter the 'n': 2

The rotated list is: [5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [51]:
def prime(n):
    n=int(input("Enter the n:"))
    l33 = []
    for i in range(n):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                l33.append(i)
    print("The list of prime numbers are:", l33)
prime(n)

Enter the n: 50

The list of prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [65]:
l34=[1,8,6,2,4,7,9,3,2,4]
l34_new=[]
n=int(input("Enet the size 'n':"))
for i in range(0,len(l34),n):
    l34_new.append(l34[i:i+n])
l34_new

Enet the size 'n': 2

[[1, 8], [6, 2], [4, 7], [9, 3], [2, 4]]

35. Find the second largest number in a list.

In [4]:
l35=[12,25,34,84,65,51,95]
l35_sort=sorted(set(l35))
if len(l35_sort)>=2:
    sec_large=l35_sort[-2]
    print('Second largest number is:',sec_large)
else:
    print("The list deosn't contain enough elements")

Second largest number is: 84

36. Replace every element in a list with its square.

In [8]:
l36=[1,2,3,4,5,6]
l36s=[]
for i in l36:
    l36s.append(i*i)
print("The squared list is:",l36s)

The squared list is: [1, 4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [82]:
l37=["apple","banana","milk","grapes","cheese"]
l37d = {el: i for i, el in enumerate(l37)}
print("Te dictionary is:",l37d)

Te dictionary is: {'apple': 0, 'banana': 1, 'milk': 2, 'grapes': 3, 'cheese': 4}

38. Shuffle the elements of a list randomly.

In [11]:
import random
l38=[12,35,24,78,45,35,62,26]
random.shuffle(l38)
print("The list is:",l38)

The list is: [24, 45, 12, 35, 78, 35, 62, 26]

39. Create a list of the first 10 factorial numbers.

In [12]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
    
fact_no=[fact(i) for i in range(10)]

print("List of 10 factorial numbers:",fact_no)

List of 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common

In [19]:
l40a = [1,2,4,5,6]
l40b = [1,4,6,5,8]
def check_list(l40a,l40b):
    for i in l40a:
        for j in l40b:
            if i == j :
                return True
        return False
    
if check_list(l40a,l40b):
    print("The lists have atleast one common element")
else:
    print("The lists doesn't have a common element")

The lists have atleast one common element

41. Remove all elements from a list.

In [22]:
l41=[2,4,5,8,6,3]
l41.clear()
print("The list is:",l41)

The list is: []

42. Replace negative numbers in a list with 0.

In [31]:
l42=[0,-14,-8,22,18,-65]
for i in range(len(l42)):
    if l42[i] < 0:
        l42[i]=0
        
print("The list after replacing negative numbers is:",l42)

The list after replacing negative numbers is: [0, 0, 0, 22, 18, 0]

43. Convert a string into a list of words.

In [86]:
str43=input("Enter a list of words:")
l43=str43.split()
print("List of words are:",l43)

Enter a list of words: hey have a nice day

List of words are: ['hey', 'have', 'a', 'nice', 'day']

44. Convert a list of words into a string.

In [89]:
l44=['hey','good','morning']
l44_str=" ".join(l43)
print("The string is:",l44_str)

The string is: hey good morning

45. Create a list of the first `n` powers of 2.

In [98]:
l45=[]
n=int(input("Enter the 'n':"))
for i in range(n):
    l45.append(2**i)
    
print(f'The first', n , 'powers of 2 is:',l45 )

Enter the 'n': 4

The first 4 powers of 2 is: [1, 2, 4, 8]

46. Find the longest string in a list of strings

In [108]:
l46=['hey','have','a','nice','morning']
long=""
for i in l46:
    if len(long)<len(i):
        long=i        
print("The longest string is:",long)

The longest string is: morning

47. Find the shortest string in a list of strings.

In [113]:
l47=['hey','have','a','nice','morning']
short=l47[0]
for i in l46:
    if len(short)>len(i):
        short=i        
print("The shortest string is:",short)

The shortest string is: a

48. Create a list of the first `n` triangular numbers.

In [115]:
n=int(input("Enter the 'n':"))
l48=[i*(i+1)//2 for i in range(1,n+1)]
print("The List of first",n,"triangular numbers",l48)

Enter the 'n': 6

The List of first 6 triangular numbers [1, 3, 6, 10, 15, 21]

49. Check if a list contains another list as a subsequence.

In [21]:
l49=[1,4,2,3,9,8,5]
l49_sub=[6,8]
def check_sub(l49,l49_sub):
    j=0
    for i in l49:
        if i==l49_sub[j]:
            j+=1
            if j== len(l49_sub):
                return True
    return False

if check_sub(l49,l49_sub):
    print("The list contains another subsequence list")
else:
    print("The list doesn't contain subsequence list")

The list doesn't contain subsequence list

50. Swap two elements in a list by their indices.

In [1]:
l50=[6,5,8,9,10,2,1]
i,j=int(input("Enter the 1st indices:")),int(input("Enter the 2nd indices:"))

l50[i],l50[j]=l50[j],l50[i]
print("After swapping,list is:",l50)

Enter the 1st indices: 0
Enter the 2nd indices: 1

After swapping,list is: [5, 6, 8, 9, 10, 2, 1]

### Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [5]:
ls1=[]
for i in range(1,6):
    ls1.append(i)
print("The tuple is:",tuple(ls1))

The tuple is: (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [6]:
t2=[6,5,4,3,2,1]
print("The third element of a tuple is",t2[2])

The third element of a tuple is 4

3. Find the length of a tuple without using the `len()` function.

In [2]:
t3=(1,2,3,4,5,6)
len3=0
for i in t3:
    len3+=1
    
print("The length of the tuple is:",len3)

The length of the tuple is: 6

4. Count the occurrences of an element in a tuple.

In [20]:
t4=(2,1,4,1,1,2,4,5,3,2,1,4,5)
i=int(input("Enter the element"))
count=t4.count(i)
print(f'The element {i} occurs {count} times in the tuple')

Enter the element 5

The element 5 occurs 2 times in the tuple

5. Find the index of the first occurrence of an element in a tuple.

In [13]:
t5=(1,2,3,4,5,6)
i=int(input("Enter the element"))
print("The index of the first occurrence of ",i,"is",t5.index(i))

Enter the element 2

The index of the first occurrence of  2 is 1

 6. Check if an element exists in a tuple.

In [16]:
t6=(1,2,3,4,5,6)
i=int(input("Enter the element"))
if i in t6:
    print("The element",i,"exists in the tuple")
else:
    print("The element",i,"doesn't exist in the tuple")

Enter the element 10

The element 10 doesn't exist in the tuple

7. Convert a tuple to a list.

In [17]:
t7=("apple","banana","grapes","dryfruits")
print("The converted list is:",list(t7))

The converted list is: ['apple', 'banana', 'grapes', 'dryfruits']

8. Convert a list to a tuple.

In [18]:
t8=['apple', 'banana', 'grapes', 'dryfruits']
print("The converted tuple is:",tuple(t8))

The converted tuple is: ('apple', 'banana', 'grapes', 'dryfruits')

9. Unpack the elements of a tuple into variables.

In [26]:
t9=(1,2,3,4)
v1,v2,v3,v4=t9
print(f'varible 1 is: {v1}')
print(f'variable 2 is: {v2}')
print(f'variable 3 is: {v3}')
print(f'variable 4 is: {v4}')

varible 1 is: 1
variable 2 is: 2
variable 3 is: 3
variable 4 is: 4

10. Create a tuple of even numbers from 1 to 10.

In [3]:
t10=[]
for i in range(1,11):
    if i%2==0:
        t10.append(i)

print('The even numbers from 1 to 10 is:',tuple(t10))

The even numbers from 1 to 10 is: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [5]:
t11=[]
for i in range(1,10):
    if i%2!=0:
        t11.append(i)
        
print('The odd numbers from 1 to 10:',tuple(t11))

The odd numbers from 1 to 10: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [9]:
t12a=(1,2,3)
t12b=(4,5)
print(f'The concatenated tuple is:{t12a+t12b}')

The concatenated tuple is:(1, 2, 3, 4, 5)

13. Repeat a tuple three times.

In [10]:
t13=(1,2,3,4,5)
rep_t13=t13*3
print(f'Repeated tuple:{rep_t13}')

Repeated tuple:(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [14]:
t14=()
if len(t14)==0:
    print(f'The tuple is empty')
else:
    print(f"The tuple isn't empty")

The tuple is empty

15. Create a nested tuple.

In [17]:
t15=(1,2,(3,4),('apple','banana'),('a','b'))
print(f'Nested tuple:{t15}')

Nested tuple:(1, 2, (3, 4), ('apple', 'banana'), ('a', 'b'))

16. Access the first element of a nested tuple.

In [20]:
t16=((1,2),(3,4),('apple','banana'),('a','b'))
print(f'The first element of a nested tuple is:{t16[0]}')

The first element of a nested tuple is:(1, 2)

17. Create a tuple with a single element.

In [23]:
t17=(2)
print(f'single element is: {t17}')

single element is: 2

18. Compare two tuples.

In [27]:
t18a=(2,4,6)
t18b=(2,5,8)
print(f'Tuple1 == Tuple2: {t18a==t18b}')
print(f'Tuple1 != Tuple2: {t18a!=t18b}')
print(f'Tuple1 < Tuple2: {t18a<t18b}')
print(f'Tuple1 > Tuple2: {t18a>t18b}')
print(f'Tuple1 <= Tuple2: {t18a<=t18b}')
print(f'Tuple1 >= Tuple2: {t18a>=t18b}')

Tuple1 == Tuple2: False
Tuple1 != Tuple2: True
Tuple1 < Tuple2: True
Tuple1 > Tuple2: False
Tuple1 <= Tuple2: True
Tuple1 >= Tuple2: False

19. Delete a tuple.

In [32]:
t19=(2,5,8,9,6,4,3)
del t19
print(t19)

NameError: name 't19' is not defined

20. Slice a tuple.

In [34]:
t20=(5,10,15,20,25,30,35)
sli_t20=t20[1:4]
print(f'The sliced tuple: {sli_t20}')

The sliced tuple: (10, 15, 20)

21. Find the maximum value in a tuple.

In [36]:
t21=(2,4,6,8,10,12,14,16)
print(f'The maximum value is: {max(t21)}')

The maximum value is: 16

22. Find the minimum value in a tuple.

In [2]:
t22=(2,4,6,8,10,12,14,16)
print(f'The minimum value is: {min(t22)}')

The minimum value is: 2

23. Convert a string to a tuple of characters.

In [5]:
t_str=input("Enter a string:")
print(f'Tuple of characters are: {tuple(t_str)}')

Enter a string: hey morning

Tuple of characters are: ('h', 'e', 'y', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g')

24. Convert a tuple of characters to a string.

In [3]:
t24=('h', 'e', 'y', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g')
print(f"The converted string is: {''.join(t24)}")

The converted string is: hey morning

25. Create a tuple from multiple data types.

In [5]:
t25=('apple',2,4.12,5,['a','b'],)
print(t25)

('apple', 2, 4.12, 5, ['a', 'b'])

26. Check if two tuples are identical.

In [7]:
t26=(1,2,3,4)
t26a=(1,2,5,7)
if t26==t26a:
    print("Two tuples are identical")
else:
    print("Two tuples aren't identical")

Two tuples aren't identical

27. Sort the elements of a tuple.

In [11]:
t27=(54,84,25,62,15,24,32,18)
print(f"The sorted elements are: {sorted(t27)}")

The sorted elements are: [15, 18, 24, 25, 32, 54, 62, 84]

28. Convert a tuple of integers to a tuple of strings.

In [26]:
t28=(1,2,3,4,5)
t28=list(t28)
for i in range(len(t28)):
    t28[i]=str(t28[i])
    
print(f'The converted tuple is: {tuple(t28)}')

The converted tuple is: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [27]:
t29=('1', '2', '3', '4', '5')
t29=list(t29)
for i in range(len(t29)):
    t29[i]=int(t29[i])
    
print(f'The converted tuple is: {tuple(t29)}')

The converted tuple is: (1, 2, 3, 4, 5)

In [2]:
t29=('1', '2', '3', '4', '5')
int_t29=tuple(int(i) for i in t29)
print(f'The converted tuple is: {int_t29}')

The converted tuple is: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [3]:
t30a=("apple","Banana","grapes")
t30b=("milk","curd","cheese")
print(f'The merged tuple is: {t30a+t30b}')

The merged tuple is: ('apple', 'Banana', 'grapes', 'milk', 'curd', 'cheese')

31. Flatten a nested tuple.

In [5]:
t31=((1,2),3,(8,9))
t31l=[]
for i in t31:
    if isinstance(i,tuple):
        t31l.extend(i)
    else:
        t31l.append(i)
    
print(f'Flattened tuple is: {tuple(t31l)}')

Flattened tuple is: (1, 2, 3, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [7]:
def prime(n):
    l33 = []
    for i in range(n):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                l33.append(i)
    print("The list of prime numbers are:", tuple(l33[:5]))
prime(20)

The list of prime numbers are: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [9]:
t33=(1,2,3,4,5)
if t33==t33[::-1]:
    print("The tuple is palindrome")
else:
    print("The tuple isn't palindrome")

The tuple isn't palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [11]:
t34=[]
for i in range(1,6):
    t34.append(i**2)
print(f'The square of number are: {tuple(t34)}')

The square of number are: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [15]:
t35=(5,10,15,20,25,30)
t35l=[]
for i in t35:
    if i%2==0:
        t35l.append(i)
        
print(f'The even numbers are: {tuple(t35l)}')

The even numbers are: (10, 20, 30)

In [16]:
t35la= tuple(i for i  in t35 if i%2==0)
print(f'The even numbers are: {tuple(t35la)}')

The even numbers are: (10, 20, 30)

36. Multiply all elements in a tuple by 2.

In [19]:
t36=(1,2,3,4,5,6,7)
t36m=tuple(2*i for i in t36)
print(f'The multiplied tuple is: {t36m}')

The multiplied tuple is: (2, 4, 6, 8, 10, 12, 14)

37. Create a tuple of random numbers.

In [27]:
import random
t37=[]
for _ in range(10):
    t37.append(random.randint(1,100))
print(f'A tuple of random numbers is: {tuple(t37)}')

A tuple of random numbers is: (17, 69, 11, 77, 51, 43, 18, 40, 10, 46)

38. Check if a tuple is sorted.

In [28]:
t38= (17, 69, 11, 77, 51, 43, 18, 40, 10, 46)
if t38==sorted(t38):
    print("The tuple is sorted")
else:
    print("The tuple in't sorted")

The tuple in't sorted

39. Rotate a tuple to the left by `n` positions.

In [31]:
t39=(1,2,3,4,5,6)
n=int(input("Enter the n position:"))
if n>=len(t39):
    n=n%len(t39)
rot_t39=t39[n:]+t39[:n]
print(f'The rotated tuple is: {rot_t39}')

Enter the n position: 2

The rotated tuple is: (3, 4, 5, 6, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [33]:
t40=(1,2,3,4,5,6)
n=int(input("Enter the n position:"))
if n>=len(t40):
    n=n%len(t40)
rot_t40=t40[-n:]+t40[:-n]
print(f'The rotated tuple is: {rot_t40}')

Enter the n position: 2

The rotated tuple is: (5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [38]:
n=int(input("Enter the n:"))
def fib(n):
    fibo=[0,1]
    while len(fibo)<n:
        next=fibo[-1]+fibo[-2]
        fibo.append(next)
    return tuple(fibo)  
fib(n)

Enter the n: 5

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [6]:
t42=tuple(input("Enter elements of tuple"))
print(f"The tuple is: {t42}")

Enter elements of tuple vhhnk

The tuple is: ('v', 'h', 'h', 'n', 'k')

43. Swap two elements in a tuple.

In [1]:
t43=(1,2,3,4,5)
t43l=list(t43)
i,j=int(input("Enter 1st index you wanna swap")),int(input("Enter 2nd index with which you wanna swap"))
t43l[i],t43l[j]=t43l[j],t43l[i]
print("After swapping the tuple is:",tuple(t43l))

Enter 1st index you wanna swap 2
Enter 2nd index with which you wanna swap 3

After swapping the tuple is: (1, 2, 4, 3, 5)

44. Reverse the elements of a tuple.

In [2]:
t44=(1,2,3,4,5)
print(f'The rotated tuple is: {t44[::-1]}')

The rotated tuple is: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [4]:
t45=tuple(2**n for n in range(5))
print(f'The tuple of first n powers of 2 is: {t45}')

The tuple of first n powers of 2 is: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [5]:
t46=('apple','ant','milk','banana','tastyfoods')
long_str=''
for i in t46:
    if len(i)>len(long_str):
        long_str=i
print("The longest string is:", long_str)

The longest string is: tastyfoods

47. Find the shortest string in a tuple of strings.

In [8]:
t47=('a','apple','milk','cheese','banana')
short_str=t47[0]
for i in t47:
    if len(i)<len(short_str):
        short_str=i
print('The shortest string is:', short_str)

The shortest string is: a

48. Create a tuple of the first `n` triangular numbers.

In [11]:
n=int(input("Enter n:"))
t48=tuple(i*(i+1)//2 for i in range(1,n+1))
print(f'The first n triangular numbers: {t48}')

Enter n: 5

The first n triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [10]:
t49=(1,2,3,4,5,6,9)
t49_sub=(3,4,5,8)
def has_subsequence(t49,t49_sub):
    for i in range(len(t49)-len(t49_sub)+1):
        if t49[i:i+len(t49_sub)]==t49_sub:
            return True
    return False
if has_subsequence(t49,t49_sub):
    print(f' Main tuple contains subsequence')
else:
    print(f" Main tuple doesn't contain subsequesnce")

 Main tuple doesn't contain subsequesnce

50. Create a tuple of alternating 1s and 0s of length `n`.

In [11]:
t50=tuple(i%2 for i in range(1,10))
print(f'The tuple is: {t50}')

The tuple is: (1, 0, 1, 0, 1, 0, 1, 0, 1)

### Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [9]:
s1=set({})
for i in range(5):
    s1.add(i+1)
print("The Set is:",s1)

The Set is: {1, 2, 3, 4, 5}

2. Add an element to a set

In [13]:
s2={1,2,3,4}
s2.add(5)
print(f'After adding an element the set is: {s2}')

After adding an element the set is: {1, 2, 3, 4, 5}

3. Remove an element from a set.

In [14]:
s3={0,1,2,4,6}
s3.remove(0)
print('After removing an element, the set is:', s3)

After removing an element, the set is: {1, 2, 4, 6}

4. Check if an element exists in a set.

In [15]:
s4={5,10,2,3,25}
el=int(input("Enter the element:"))
if el in s4:
    print(f'The element {el} exists in the set')
else:
    print(f"The element {el} doesn't exist in the set")

Enter the element: 5

The element 5 exists in the set

5. Find the length of a set without using the `len()` function

In [16]:
s5={1,2,3,4,5,6}
length=0
for i in s5:
    length+=1
print(f'The length is: {length}')

The length is: 6

6. Clear all elements from a set.

In [19]:
s6={1,2,3,4}
s6.clear()

7. Create a set of even numbers from 1 to 10.

In [20]:
s7=set({})
for i in range(1,11):
    if i%2==0:
        s7.add(i)
print(f'The set is: {s7}')

The set is: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [22]:
s8=set({})
for i in range(1,11):
    if i%2!=0:
        s8.add(i)
print(f'The set is: {s8}')

The set is: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [27]:
s9a= {2, 4, 6, 8, 10}
s9b= {1, 3, 5, 7, 9}
print(f'The union of two sets: {s9a.union(s9b)}')

The union of two sets: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [28]:
s10a={0,1,3,6,9}
s10b={0,2,4,6,8}
print(f'The intersection of two sets: {s10a.intersection(s10b)}')

The intersection of two sets: {0, 6}

11. Find the difference between two sets.

In [29]:
s11a={0,1,3,6,9}
s11b={0,2,4,6,8}
print(f'The difference between two sets: {s11a.difference(s11b)}')

The difference between two sets: {1, 3, 9}

12. Check if a set is a subset of another set.

In [32]:
s12={0,1,3,6,9}
s12_sub={0,2,4,6}
if s12.issubset(s12_sub):
    print(f'The set {s12_sub} is a subset of another set')
else:
     print(f"The set {s12_sub} isn't a subset of another set")

The set {0, 2, 4, 6} isn't a subset of another set

13. Check if a set is a superset of another set.

In [33]:
s13={1,2,3,4,5}
s13_s={1,2,3,4,5,6}
if s13_s.issuperset(s13):
    print("The set is a superset of another set")
else:
    print("The set isn't a superset of another set")

The set is a superset of another set

14. Create a set from a list.

In [35]:
s14=[5,10,15,5,10,5,20,25]
print(f'The list is: {set(s14)}')

The list is: {5, 10, 15, 20, 25}

15. Convert a set to a list.

In [37]:
s15={6,5,4,2,1}
print(f'The converted list is: {list(s15)}')

The converted list is: [1, 2, 4, 5, 6]

16. Remove a random element from a set.

In [46]:
import random
s16={5,10,15,20,25,30,41}
r=random.choice(list(s16))
s16.remove(r)
print(f'After removing the set is: {s16}')

After removing the set is: {20, 5, 41, 10, 25, 15}

17. Pop an element from a set.

In [48]:
s17={5,10,15,20,25,30,41}
s17.pop()
print(f'The set is: {s17}')

The set is: {5, 30, 41, 10, 25, 15}

18. Check if two sets have no elements in common.

In [5]:
s18a={1,2,3,4,5}
s18b={1,3,5}
def check_set(s18a,s18b):
    for i in s18a:
        for j in s18b:
            if i == j:
                return True
    return False

if check_set(s18a,s18b):
    print(f'The two sets have elements in common')
else:
    print(f'The two sets have no elements in common')

The two sets have elements in common

19. Find the symmetric difference between two sets.

In [3]:
s19={1,2,3,4,5}
s19b={4,5,6}
print(f'The symmetric difference between is:{s19.symmetric_difference(s19b)}')

The symmetric difference between is:{1, 2, 3, 6}

20. Update a set with elements from another set.

In [1]:
s20a={1,2,3,4}
s20b={4,5,6,7}
s20a.update(s20b)
print(f'The updated set is: {s20a}')

The updated set is: {1, 2, 3, 4, 5, 6, 7}

21. Create a set of the first 5 prime numbers.

In [9]:
def prime(n):
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True
l1=[]
for i in range(2,30):
    if prime(i):
        l1.append(i)
print(f'The set of prime numbers are: {set(l1[:5])}')

The set of prime numbers are: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [8]:
s22a={1,3,5}
s22b={5}
if s22a==s22b:
    print("The sets are identical")
else:
    print("The sets aren't identical")

The sets aren't identical

23. Create a frozen set.

In [13]:
s23={5,10,15,20}
print(f'The frozen set is: {frozenset(s23)}')

The frozen set is: frozenset({10, 20, 5, 15})

24. Check if a set is disjoint with another set.

In [16]:
s24={5,10,15,20}
s24a={1,2,3,4,5}
if s24.isdisjoint(s24a)== True:
    print(f'The set is disjoint')
else:
    print(f"The set isn't disjoint")

The set isn't disjoint

25. Create a set of squares of numbers from 1 to 5.

In [19]:
s25=set(i**2 for i in range(1,6))
print("the set of square is:",s25)

the set of square is: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [24]:
s26={1,2,4,5,10}
s26_even=set(i for i in s26 if i%2==0)
print(f"The even numbers are:{s26_even}")

The even numbers are:{2, 10, 4}

27. Multiply all elements in a set by 2.

In [26]:
s27={1,2,3,4,5}
s27_mul=set(i*2 for i in s27)
print(f"The multiplied set is: {s27_mul}")

The multiplied set is: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [30]:
import random
s28=set()
for i in range(5):
    s28.add(random.randint(1,50))
print(f"The set of random numbers is:{s28}")

The set of random numbers is:{1, 4, 43, 12, 18}

29. Check if a set is empty.

In [32]:
s29={1}
if len(s29)==0:
    print("The set is empty")
else:
    print("The set isn't empty")

The set isn't empty

30. Create a nested set (hint: use frozenset).

In [37]:
s30={frozenset({1,2,20}), frozenset({3,2,4})}
print(f'The nested set is:{s30}')

The nested set is:{frozenset({1, 2, 20}), frozenset({2, 3, 4})}

31. Remove an element from a set using the discard method.

In [39]:
s31={3,2,1,65,4,6,58,2,32,45}
el=int(input("Enter the element, you wanna remove:"))
s31.discard(el)
print(f'After removing the set is {s31}')

Enter the element, you wanna remove: 4

After removing the set is {32, 65, 2, 3, 1, 6, 45, 58}

32. Compare two sets.

In [42]:
s32={1,3,6,9}
s32a={2,4,6}
print("Set 1: {s32}")
print("Set 2: {s32a}")
print(f'Set1 is subset of Set2: {s32.issubset(s32a)}')
print(f'Set1 is superset of Set2: {s32.issuperset(s32a)}')
print(f'Set1 union Set2: {s32.union(s32a)}')
print(f'Set1 intersection Set2: {s32.intersection(s32a)}')

Set 1: {s32}
Set 2: {s32a}
Set1 is subset of Set2: False
Set1 is superset of Set2: False
Set1 union Set2: {1, 2, 3, 4, 6, 9}
Set1 intersection Set2: {6}

33. Create a set from a string.

In [45]:
str_33=input("Enter a string:")
s33=set(str_33)
print("The set is:",s33)

Enter a string: abcd

The set is: {'c', 'b', 'd', 'a'}

34. Convert a set of strings to a set of integers.

In [48]:
s34_str={'1','2','3','4'}
s34_int=set()
for i in s34_str:
    s34_int.add(int(i))
print(f'The converted set of integers is: {s34_int}')

The converted set of integers is: {1, 2, 3, 4}

35. Convert a set of integers to a set of strings.

In [50]:
s35_int={1, 2, 3, 4}
s35_str=set(str(i) for i in s35_int)
print(f'The converted set of integers is: {s35_str}')

The converted set of integers is: {'1', '3', '4', '2'}

36. Create a set from a tuple.

In [54]:
s36=('a','b',1,2,1,2,2)
print(f"the set is: {set(s36)}")

the set is: {1, 'b', 2, 'a'}

37. Convert a set to a tuple.

In [57]:
s37={1, 'b', 2, 'a'}
print(f"The tuple is: {tuple(s37)}")

The tuple is: (1, 'b', 2, 'a')

38. Find the maximum value in a set.

In [59]:
s38={5,10,15,13,60,34}
print("The maximum value is:", max(s38))

The maximum value is: 60

39. Find the minimum value in a set.

In [60]:
s38={5,10,15,13,60,34}
print("The minimum value is:", min(s38))

The minimum value is: 5

40. Create a set from user input.

In [63]:
s40=set()
el=input("Enter elements")
s40.add(el)
print("The set is:",s40)

Enter elements a,b,c

The set is: {'a,b,c'}

41. Check if the intersection of two sets is empty.

In [64]:
s41a={1,2,3,4}
s41b={2,4,6,8}
if len(s41a.intersection(s41b))==0:
    print("The intersection of two sets is empty")
else:
    print("The intersection of two sets isn't empty")

The intersection of two sets isn't empty

42. Create a set of the first 5 Fibonacci numbers.

In [83]:
s42=set()
a,b=0,1
for i in range(6):
    s42.add(a)
    a,b=b,a+b
    
print(f'The set of first 5 Fibonacci numbers: {s42}')

The set of first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [85]:
s43=[1,2,3,4,1,2,1,3,4,5,3,1,5,1,3]
print("The list after removing duplicates is:", list(set(s43)))

The list after removing duplicates is: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [91]:
s43={1,2,3,4,1,2,1,3,4,5,3,1,5,1,3}
s44={1,2,4,1,5,3,4,5,2,3,2,1,5,5,3,1,3}
if set(s43)==set(s44):
    print("The sets have same elements")
else:
    print("The sets doesn't have same elements")

The sets have same elements

45. Create a set of the first `n` powers of 2.

In [96]:
n=int(input("Enter the first n, you want:"))
s45=set(2**i for i in range(n))
print("The set of first ", n , "powers of 2 is:", s45)

Enter the first n, you want: 5

The set of first  5 powers of 2 is: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [98]:
s46={1,2,3,4,5,6,7,8,9,10}
s46_l=[5,10,15,20]
print(f'the commmon elements between a set and a list is:{s46.intersection(set(s46_l))}')

the commmon elements between a set and a list is:{10, 5}

47. Create a set of the first `n` triangular numbers.

In [102]:
n=int(input("Enter the n:"))
s47=set(i*(i+1)//2 for i in range(1,n+1))
print(f"The set of first n triangular numbers: {s47}")

Enter the n: 10

The set of first n triangular numbers: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [103]:
s48={1,2,3,4,5,6}
s48s={2,3}
if s48s.issubset(s48):
    print("A set contains another set as a subset")
else:
    print("A set doesn't contain another set as a subset")

A set contains another set as a subset

49. Create a set of alternating 1s and 0s of length `n`.

In [105]:
n=int(input("Enter the 'n':"))
s49=set(i%2 for i in range(n))
print("A set of alternating 1s and 0s of length `n`:",s49)

Enter the 'n': 5

A set of alternating 1s and 0s of length `n`: {0, 1}

50. Merge multiple sets into one.

In [109]:
s50a={1,2,3,4}
s50b={2,3,5,6}
s50c={5,6,7,8,9}
print(f"The merged set: {s50a.union(s50b,s50c)}")

The merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9}